.container{
   position: relative;
}
.slidery{
   position: absolute;
   width : 300px;
   transform-origin: 0px 0px;
   transform: rotate(90deg) translate(0px,-10px);
 }
 .sliderx{
   width : 300px;
 }